<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>SivilTitle</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Enable Tweak</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>cellClass</key>
				<string>SVLSwitchCell</string>
				<key>switchColor</key>
				<string>#726ec4</string>
				<key>switchColorAlpha</key>
				<real>1.0</real>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.coopdev.sivilprefs</string>
				<key>key</key>
				<string>isEnabled</string>
				<key>label</key>
				<string>Enabled</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Blur Opacity</string>
				<key>footerText</key>
				<string>Set the amount of blur you want</string>
				<key>footerAlignment</key>
				<string>1</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSliderCell</string>
				<key>defaults</key>
				<string>com.coopdev.sivilprefs</string>
				<key>key</key>
				<string>blurValue</string>
				<key>min</key>
				<string>0.0</string>
				<key>max</key>
				<string>1.0</string>
				<key>showValue</key>
				<true/>
				<key>isSegmented</key>
				<false/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>key</key>
				<string>Color Picker</string>
				<key>footerText</key>
				<string>Set the background color you want</string>
				<key>footerAlignment</key>
				<string>1</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>cellClass</key>
				<string>SVLColorPickerCell</string>
				<key>fallbackHex</key>        <!-- This cell supports both of the hex formatting styles '#RRGGBBAA' -->
				<string>#ffffff</string>  <!-- and '#RRGGBB:AA', but saves as only '#RRGGBBAA' -->
				<key>supportsAlpha</key>      <!-- Enable or disable Alpha -->
				<false/>
				<key>defaults</key>
				<string>com.coopdev.sivilprefs</string>
				<key>key</key>
				<string>backgroundColor</string>
				<key>default</key>
				<string>#ffffff</string>
				<key>label</key>
				<string>Background Color</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string></string>
				<key>footerText</key>
				<string>Tapping this will respring your device</string>
				<key>footerAlignment</key>
				<string>1</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>cellClass</key>
				<string>SivilTableCell</string>
				<key>label</key>
				<string>Apply</string>
				<key>action</key>
				<string>respring</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>AdvancedCell</string>
				<key>detail</key>
				<string>AdvancedCellController</string>
				<key>isController</key>
				<true/>
				<key>label</key>
				<string>Advanced</string>
				<key>icon</key>
				<string>zap.png</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string></string>
				<key>footerText</key>
				<string>I want to thank Luki120 for being very helpful! Check out his twitter above!</string>
				<key>footerAlignment</key>
				<string>1</string>
			</dict>
			<dict>
				<key>action</key>
				<string>lukiTwitter</string>
				<key>cellClass</key>
				<string>SivilTableCell</string>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>label</key>
				<string>@Lukii120</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>action</key>
				<string>openGithub</string>
				<key>label</key>
				<string>Check out that source code!</string>
				<key>cellClass</key>
				<string>SivilTableCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>label</key>
				<string>My Twitter</string>
				<key>action</key>
				<string>myTwitter</string>
				<key>cellClass</key>
				<string>SivilTableCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Icons</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>label</key>
				<string>Feather Icons</string>
				<key>action</key>
				<string>featherIcons</string>
				<key>cellClass</key>
				<string>SivilTableCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string></string>
				<key>footerText</key>
				<string>Sivil 1.0 🔍</string>
				<key>footerAlignment</key>
				<string>1</string>
			</dict>
		</array>
		<key>title</key>
		<string>Sivil</string>
	</dict>
</plist>
